.series-graph-wrapper {
	position: absolute;
	left: var(--viewport-margin-left);
	right: var(--viewport-margin-right);
	bottom: var(--viewport-margin-bottom);

	filter: var(--filter-drop-shadow);
	overflow: hidden;
	border-radius: 0.6rem;
	transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.series-graph-wrapper:hover {
	transform: translateY(-2px);
}

.series-graph {
	display: flex;
	align-items: flex-end;
	border-radius: 0.6rem;
	overflow: hidden;

	transition: transform var(--fade-slow-duration) cubic-bezier(0.4, 0.0, 0.2, 1);
}

.series-graph:not(.--active) {
	transform: translateY(101%);
}
